<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
  <appender name="ExceptionHandler" type="log4net.Appender.RollingFileAppender">
    <!--<threshold value="WARN" />-->
    <encoding value="utf-8" />
    <file type="log4net.Util.PatternString" value="C:\Apps\Demo.API\Logs\log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=" - yyyy-MM-dd'.log'" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <IgnoresException value="False" />
      <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} [Demo.API].[%thread].%-5level LogInFile %message %exception %newline" />
    </layout>

    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="ERROR" />
    </filter>
    
  </appender>

  <appender name="TracingHandler" type="log4net.Appender.RollingFileAppender">
    <!--<threshold value="ERROR" />-->
    <encoding value="utf-8" />
    <file type="log4net.Util.PatternString" value="C:\Apps\Demo.API\Logs\log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=" - yyyy-MM-dd'.log'" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <IgnoresException value="False" />
      <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} [Demo.API].[%thread].%-5level LogInFile %message %exception %newline" />
    </layout>

    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="ERROR" />
    </filter>

  </appender>

  <root>
    <appender-ref ref="ExceptionHandler" />
    <!--<appender-ref ref="TracingHandler" />-->
  </root>
</log4net>